ion-content{
    --background:white;
}
.imgMenu{
    margin:0 auto;
	display:block;
}
ion-card-title{
    font-size: 19px;
    color: #157424;
    margin-top: 10px;
    
}
ion-card-subtitle{
     font-size: 12px;
    color: #909090;
    margin-top: 0px; 
    margin-bottom: -5px;
}
h2{    
    color: black;
    margin-top: 10px; 
    padding-bottom: 5px;   
}
p{
    color: #909090;
}
h6{
   color:#7DA244; 
}
ion-item{
    --background:transparent;
}
h3{
    font-size: 12px;
    color: #909090;
    margin-top: 0px; 
    margin-bottom: -5px;
    
}
ion-icon{
    width: 2em;
    height: 2em;
    color:white;
}
.imagen {
    border:solid silver 1px;
    height:100px; /* ALTO_IMAGEN */
    background-position:center center; /* Centrado de imagen*/
}
.btnInfo{
    --background: #157424;
    margin: 0 auto;
    position: relative;
    outline: none;
    width: 75%;
}