ion-content{
    --background:white;
}
ion-item{
    --background:transparent; 
}
ion-list{
     background:transparent; 
}
h2{
    color: #157424;
    font-weight: bold;
}
ion-icon{  
    color:#157424;
}
ion-card-content{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    line-height: 0.2;
    padding-bottom: 0px;
}
ion-card{
    border-radius: 17px;
    border: #7DA244 1px solid;
    border-radius: 4vh;
}