<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start"><ion-icon name="contact"></ion-icon>
        </ion-buttons>
        <div>    
        <img class="imgMenu" src="assets/images/proMenu.png">
        </div>
        <ion-buttons slot="end">
            <ion-menu-button color="light" autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar> 

</ion-header> -->

<ion-content no-padding>
    <div style="height: 100%; width: 100%" id="map_canvas">
        <!-- <ion-button (click)="loadMap($event)">Empezar</ion-button> -->
    </div>
</ion-content>