.infotext{
    color: #fff;
}
ion-item{
    --border-radius: 5px;
    --background:white;
}
ion-icon{
     color:#157424; 
}

.btn{
    width: 90%;
    height: 50px;
    font-size: 19px;
    text-transform: none;
}

.imagenlogofrom1 {
    width: 200px;
    display: inline-block;
}
.logoPro{
    position: relative;
    margin: 0 auto;
    -webkit-padding-before: 0vh;  
    width: 45%;
}
.btnInfo{
    --background: #157424;
    margin: 0 auto;
    position: relative;
    outline: none;
    width: 75%;
  }
  ion-item{
  --background:transparent;}