<ion-content>
  <ion-card no-padding>
    <ion-card-content padding>
      <img src="assets/images/cover.png">
      <ion-item>
        <ion-label text-wrap>
          <h2 style="color:#157424;">Casa en venta</h2>
          <h6 style="color:#7DA244;">Publicado el 29-04-2019</h6>
          <p style="color:black;">Una casa a precio de lote ubicada sobre la carretera a Oruro a la altura del Km. 27.
            Actualmente documentación como propiedad “Fuera de Radio Urbano” El ingreso está sobre la misma carretera
            como puede </p>
        </ion-label>
      </ion-item>
      <ion-card-header>
        <h3><strong>Visitas</strong></h3>
        <p>320 Personas lo vieron</p>
        <h3><strong>Me gustan</strong></h3>
        <p>400 personas dieron Me gusta</p>
        <h3><strong>Llamadas</strong></h3>
        <p>40 personas se contactaron</p>
        <h3><strong>Whatsapp</strong></h3>
        <p>35 personas se conectaron</p>
      </ion-card-header>
    </ion-card-content>
   
    <ion-fab-button size="small" class="btnfavo" (click)="closemodal()">
      <ion-icon class="iconStart" name="close-circle-outline"></ion-icon>
    </ion-fab-button>
    
  </ion-card>
</ion-content>