<!-- <ion-header>
  <ion-toolbar>
    <ion-title>paisProvincia</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content no-padding>
<ion-grid class="ion-contentForm">
  <ion-row align-items-center  style="text-align: center">
    <ion-col size=12 style="padding-block-start: 18vh; padding-block-end: 7vh;" >
      <img src="/assets/images/proVivienda.png" class="imagenlogofrom1" style="width:35%;"/>
      
    </ion-col>
    <ion-col size="10" style="margin: 0 auto;" align-self: center>
      <form >            
        <ion-item >      
          <ion-label stacked style="color:white;"> Pais</ion-label>
          <ion-select>
            <ion-select-option value="1">Bolivia</ion-select-option>
          </ion-select>              
        </ion-item>  
        <br>
        <ion-item >      
            <ion-label stacked style="color:white;">Ciudad</ion-label>
            <ion-select>
              <ion-select-option value="1">Cochabamba</ion-select-option>
            </ion-select>              
          </ion-item>      
      </form>
      <ion-col size="12" size-sm="4" style="text-align: center" align-self: center>
        <div>
          <ion-button shape="round" class="btnInfo" >Continuar</ion-button>       
        </div>
        </ion-col>
        <ion-col size="12" size-sm="4" style="text-align: center" align-self: center>
          <div>
            <button  class="btnCancelar" >
            <img style="max-width: 80%;" src="/assets/images/btnAtras.png"> 
            </button>       
          </div>
        </ion-col>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer >
  <ion-toolbar>   
      <img src="/assets/images/botonOmitir.png" alt="">
  </ion-toolbar>
</ion-footer>