<ion-header>
    <ion-toolbar>  
        <ion-buttons slot="start"><ion-icon style="color:white;width: 2em;
          height: 2em;" name="contact"></ion-icon>
        </ion-buttons>    
      <h6 style="text-align:center; color:white;">Mis corredores</h6>      
    <ion-buttons slot="end">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content no-padding>
  <div class="ion-content" padding>
    <ion-item-group>
      <ion-item>
        <p style="color:#157424;  margin-block-start: 0em; margin-block-end: 0em;"><strong>Mis corredores</strong></p>
      </ion-item>
      <ion-item-sliding *ngFor="let item of [1,2,3,4]">
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="assets/images/corredor.png">
          </ion-thumbnail>
          <ion-label text-wrap>
            <p style="color:#157424;"><strong>Juan Carlos</strong></p>
            <p>Vendedor destacado</p>
          </ion-label>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="unread(item)">
            <ion-icon class="icongarbage" slot="icon-only" name="trash"></ion-icon>Eliminar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
    <br>
  </div>

</ion-content>