ion-content{
    --background:white;
    padding-top: var(--ion-padding,   0px);
    padding-bottom: var(--ion-padding, 0px); 
}
ion-item{
    --background:transparent; 
}
ion-list{
     background:transparent; 
}
item-inner{   
    height: 100%;
}
h1{
    color: #157424; 
}
h4{
    color: #157424; 
    font-size: 15px;
    margin-top: 0px;
}
h6{
    margin-top: 8px;
    margin-bottom: 0px;
}
ion-item-divider{
    background: transparent;
    color: black;
    border-bottom: 1px solid var(--ion-item-border-color,var(--ion-border-color,var(--ion-color-step-150,#fff)));
}
.iconStart{
    width: 1em;
    height: 1em;
    color:white;
}
.btn{
    position: absolute;
    z-index: 100;
    right: 0;   
}
.btnInfo{
    --background: #157424;
}
.btnfavo{
    margin: -25px 15px 0px 0px;
    position: absolute;
    z-index: 100;
    right: 0;
}
.content{  
    --background: transparent;  
    border: 2px #359444 solid;
    border-radius: 10px;
}
.iconLabel{
    display: inline-block;
    padding-left: 1vh;
}
.iconLabel >p{
    text-align: center;
}