ion-item{
    --background: transparent;
}

ion-card{
    --background: white; 
}
// .content{
//     --background-image: url('/src/assets/images/fondoborroso.png');
//     background-size: cover; 
//     background-position: center center; 
//     background-repeat: no-repeat;
// }
.btnfavo{
    margin: -236px 30px 20px 0px;
    position: absolute;
    right: 0;
    --background: #157424;
    float: right;
}
.btnInfo{
    --background: #157424;
    margin: 0 auto;
    display: block;
}