<ion-content class="content" no-padding>
<ion-card no-padding>
  <ion-card-content>  
      <img style="display: flex; width: 60%; margin: 0 auto; display:block; padding-block-end: 4vh;padding-block-start: 4vh;" src="assets/images/Fernanda.png"> 

     <ion-fab>
    <ion-fab-button size="small"  class="btnfavo" (click)="closemodal()">
      <ion-icon class="iconStart" name="close-circle"></ion-icon>
    </ion-fab-button>
    </ion-fab>  

    <ion-item>
    <ion-label text-wrap>
        <h2 style="color:#157424;">Fernanda Carrasco</h2>
      <p>Busco casa o departamento
        <br> Con urgencia contactarme</p>
      <h6 style="color:#7DA244;">Publicado el 29-04-2019</h6>
    </ion-label>      
  </ion-item>
  <ion-card-header >
    <h3><strong>Dirección</strong></h3>
    <p><strong>Av. America y Libertadores</strong></p>
    <h3>Mail</h3>
    <p>Fernandacarrasco@gmail.com</p>
    <a [href]="''" class="icotextcont hrfa" ><ion-icon class="vfc" name="logo-whatsapp"></ion-icon>&nbsp;&nbsp;<span style="font-size: 15px;">928203423</span> </a>      
    <h6 class="icotextcont hrfa" ><ion-icon class="vfc" name="call"></ion-icon>&nbsp;&nbsp;<span style="font-size: 15px;"> 928203423</span> </h6>
  </ion-card-header>  
  <ion-button class="btnInfo">Agregar a mi lista +</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>