<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="light"></ion-back-button> 
      </ion-buttons>
     <img style="display: block;
    margin: 0 auto;"  src="assets/images/proMenu.png">
    <ion-buttons slot="end">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<div padding style="background:white;">
  <ion-item lines="none" class="ion-content" (click)="btnInfo()">
    <ion-thumbnail slot="start">
      <img style="border-radius: 1vh;" src="assets/images/imgPerfil.png">
    </ion-thumbnail>
    <ion-label text-wrap>
      <h2>Ector Gonzales</h2>
      <p>Asociado Titanium</p>
    </ion-label>
    <ion-icon style="color:green;" name="arrow-forward"></ion-icon>
  </ion-item>
</div>

<ion-content padding>
  <ion-item style="--background:transparent; --border-style: 0;">
    <ion-slides pager="true">
      <ion-slide autoplay="5000" loop="true" speed="3000" *ngFor="let item of slides">
        <div class="slide-img-padding">
          <img [src]="item.img">
        </div>
      </ion-slide>
    </ion-slides>
  </ion-item>
  <ion-fab-button color="primary" class="btnfavo">
    <ion-icon class="iconStart" name="star"></ion-icon>
  </ion-fab-button>
  
  <ion-item>
    <ion-label text-wrap>
      <h1>Casa en venta</h1>
      <br>
      <h2>Publicado por: Rudy Chavez</h2>
      <h6 style="color:#7DA244;">Publicado el 29-04-2019</h6>
      <p>Una casa a precio de lote ubicada sobre la carretera a Oruro a la altura del Km. 27. Actualmente documentación
        como propiedad “Fuera de Radio Urbano” El ingreso está sobre la misma carretera como puede verse en las fotos.
        <br> Precio inmejorable y usos alternativos muy diversos. Totalmente urbanizable, de uso agrícola, industrial o
        para servicios al transporte. Sobre la nueva Doble Via, cuenta con todos los servicios básicos y más de 7.500m2.
        Actualmente el precio rebajado es de $us.480.000.-. Para mayor información por favor contactarse al
        7_6_4_0_3_9_9_5. Negociable.</p>
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3">
        <ion-icon size="large" color="primary" src="assets/images/icons/cuartos.svg" ></ion-icon>
        <ion-label class="iconLabel" text-wrap>
          <h5>Dormitorios</h5>
          <p>3</p>
        </ion-label>
      </ion-col>
      <hr>
      <ion-col size="6" size-md="3">
        <ion-icon size="large" color="primary" src="assets/images/icons/banera.svg"></ion-icon>
        <ion-label class="iconLabel" text-wrap>
          <h5>Baños</h5>
          <p>3</p>
        </ion-label>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-icon size="large" color="primary" name="car"></ion-icon>
        <ion-label class="iconLabel" text-wrap>
          <h5>Garajes</h5>
          <p>3</p>
        </ion-label>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-icon size="large" color="primary" name="resize"></ion-icon>
        <ion-label class="iconLabel" text-wrap>
          <h5>m2</h5>
          <p>30.000</p>
        </ion-label>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-icon size="large" color="primary" src="assets/images/icons/mano.svg"></ion-icon>
        <ion-label class="iconLabel" text-wrap>
          <h5>Tipo inmueble</h5>
          <p>Casa</p>
        </ion-label>
      </ion-col>
      <ion-col size="6" size-md="3">
        <ion-icon size="large" color="primary" name="map"></ion-icon>
        <ion-label class="iconLabel" text-wrap>
          <h5>Ciudad</h5>
          <p>Cochabamba</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>